<p>テスト</p>
<script type="text/javascript">
  $(document).ready(function() {
    $("p").text("成功！！");
  });
</script>

<div>
  <% if @shops.present? %>
    <% @shops.each do |shop| %>
      <p>
      店舗名：<%= shop["name"] %>
      </p>
    <% end %>
  <% elsif @shops.nil? %>
    店舗名を入力してください。
  <% else %>
    該当する店舗情報はありませんでした。
  <% end %>
</div>